# SPDX-License-Identifier: Apache-2.0
name: Upload Github Pages

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write
  id-token: write
  pages: write

env:
  LC_ALL: C.UTF-8

jobs:
  publish:
    name: Publish
    runs-on: hiero-client-sdk-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: "21.0.6"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Compile SDK
        run: ./gradlew compileJava

      - name: Generate Javadoc
        run: ./gradlew :sdk:javadoc

      - name: Pages
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./sdk/build/docs/javadoc

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
